@charset "UTF-8";
div#border-top.h_blue{
height:0px;
visibility:hidden;
}
div#header-box{
height:40px;
postion:relative !important;
padding:0px !important;
border-top-left-radius: 10px !important;

border-top-right-radius: 10px !important;
}
p.copyright{
visibility:hidden;
}
span.viewsite {
position:absolute;
vertical-align:middle;
right:75px;
top:20px;
}
span.logout {
position:absolute;
right:5px;
top:20px;
}
body#minwidth-body{height:95%;min-width:150px !important;}#toolbar-box .m{background: #ffffff !important;min-height: 0px !important;margin-bottom: 0px !important;}.submenu-box,div.m {border: 0px solid #ccc !important;padding: 0 0px !important;background-color: #ffffff !important;-webkit-border-radius: 0px !important;-moz-border-radius: 0px !important;border-radius: 0px !important;}#element-box, #toolbar-box, #submenu-box{padding: 0px 0px 0px 0px !important;}div#toolbar-box div.m{padding: 0px 0px 0px !important;margin-bottom: 0px !important;}#toolbar-box {background: #fbfbfb !important;margin-bottom: 0px !important;}

div.mainblock {position: relative;margin:1%;
border:1px solid #999999;background: #eeeeee;
padding:1%;height:550px;border-radius:10px;}
div.header {position: relative;margin:0.5%;
padding:0.5%;border:1px solid #999999;
background:#ffffff;height:75px;
border-radius:10px;}
div.sidebar {
position: relative;margin:0.5%;padding:0.5%;width:10%;float:left;
border:1px solid #999999;background: #ffffff;height: 400px;border-radius:10px; }
div.body{position:relative;float:right;margin:0.5%;padding:0.5%;width:85.5%;border:1px solid #999999;background: #ffffff;height: 400px;border-radius:10px;}